
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px; 
    height: 4px; 
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: transparent; 
  }
}

.leaflet-popup-content-wrapper {
  @apply bg-white rounded-lg shadow-sm p-1;
}

.leaflet-popup-content {
  @apply text-zinc-900 text-center font-bold;
}

.leaflet-popup-tip {
  background-color: white !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
